@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 42 22% 92%;
  --foreground: 0 0% 7%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 7%;

  --primary: 140 50% 30%;
  --primary-foreground: 0 0% 100%;

  --secondary: 40 20% 90%;
  --secondary-foreground: 0 0% 7%;

  --muted: 40 20% 96%;
  --muted-foreground: 0 0% 45%;

  --accent: 50 60% 50%;
  --accent-foreground: 0 0% 7%;

  --destructive: 0 80% 50%;
  --destructive-foreground: 0 0% 100%;

  --border: 0 0% 90%;
  --input: 0 0% 90%;
  --ring: 140 50% 30%;

  --radius: 16px;
}

body {
  @apply text-foreground;
  background-color: #ECE6DF;
}